.service__card {
    width: 335.5px;
    height: 340px;
    padding: 24px 20px;

    border-radius: 12px;
    background: #151517;
    margin-bottom: 6px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service__card:hover::before {
    opacity: 20%;
}

.service__card:active::before {
    opacity: 100%;
}

.service__card::before {
    background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(180, 69, 255, 0.6),
            transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 400ms;
    width: 100%;
    z-index: 2;
}

.service__card__image {
    width: 40px;
    height: 40px;
    margin-bottom: 68px;
    position: relative;
    z-index: 3;
}

.service__card__title {
    margin-bottom: 69px;
    position: relative;
    z-index: 3;
}

.service__card__text {
    position: relative;
    z-index: 3;
}