body {
    background-color: #ffffff;
    color: #ffffff;
}

.container {
    max-width: 1360px;
    margin:0 auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
